.directions {
    padding-top: 0;
    display: none;

    @media screen and (min-width: 1200px ){
      display: block;      
    }
 }
 
 .directions__list {   
    justify-content: space-between;
 } 
 
 .directions__item {
    position: relative;
    overflow: hidden;
  }
 
 .directions__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('headline');  
    margin-bottom: 50px;
  }
 
  .directions__label {
    position: absolute;
    bottom: 0;
    background-color:rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
  }
 
  .directions__text {   
    font-size: 14px;
    line-height: 1.145;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:getColor('white');
  }
 
 