.header {
    background-color: getColor('white');   
    width: 100%;   
    border-bottom: 1px solid #ECECEC;
    padding: 10px 0;

    @media screen and(min-width: 768px) {
        padding: 21px 0;        
    }

    @media screen and(min-width: 1200px) {
        padding: 24px 0 25px;     
    }    
}

.header > .container {
    display: flex;
    align-items: center;   
    justify-content: space-between;
}

.header__pages, .header__contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;      
    }
}

.header__hmenu {
    width: 40px;
    height: 40px;    
    fill: currentColor;
}

.icon-menu {
  display: inline-flex;
}

