.big-button {    
    background-color: getColor('accent');
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: getColor('white');
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;   
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 }

.big-button--icon {
    max-width: 200px;
    padding: 10px 28px;

    @media screen and(min-width: 1200px) {
        margin-left: 12px;
    }
    
}

.icon-send {
    width: 24px;
    height: 24px;
    fill: getColor('white');
}

.big-button--send {
   padding: 10px 52px;
   display: block;
   margin: 0 auto;
}