.link.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
 }
 
 .link.current,
 .link:hover,
 .link:focus {
 color: getColor('accent');     
 }
 
 .icon-contact {
    fill: currentColor;
 }