.gallery__item {    
    display: flex;    
    justify-content: center;
 }
 
.card-link {
    text-decoration: none;
    color: getColor('text');       
    display: flex;   
    flex-direction: column;
    transition: box-shadow var(--transition-speed);         
}

.card-link:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
   0px 4px 4px rgba(0, 0, 0, 0.06), 
   1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-text {
    padding: 20px 24px  19px;
    border: 1px solid #EEEEEE;
    border-top: none;
    flex-grow: 1;  

    @media screen and(min-width: 768px) and(max-width: 1199px){
        max-width: 354px;        
    }
}

.card-link .name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: getColor('headline');
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.card-link .type {    
    line-height: 1.875;
    letter-spacing: 0.03em;
    margin: 0;
}

.open-up {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);    
    width: 100%;
    height: 100%;   
    transform: translateY(0);
    transition: transform var(--transition-speed);
    padding: 63px 24px;
 }
   
 .card-link:hover .open-up {   
    transform: translateY(-100%);  
 }
 
 .open-up-text {
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: getColor('white');
 }